@keyframes blink {
  0%   { opacity: 0; transition: all .25s ease }
  100% { opacity: 1; transition: all .25s ease }
}

@keyframes slidein {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
