.u-color-base {
  color: $color-black;
}

.u-color-secondary {
  color: $color-gray;
}

.u-color-inverse {
  color: $color-white;
}

.u-color-light {
  color: $color-gray-light;
}

.u-color-error {
  color: $color-red;
}

.u-color-success {
  color: $color-green;
}
