.u-list-none {
  list-style-type: none;
}

.u-list-reset {
  margin-top: 0;
  padding-left: 0;
}

.u-list-disc {
  list-style-type: disc;
}

.u-list-decimal {
  list-style-type: decimal;
}

.u-list-inside {
  list-style-position: inside;
}

.u-list-outside {
  list-style-position: outside;
}