.u-object-top {
  object-position: top;
}

.u-object-bottom {
  object-position: bottom;
}

.u-object-center {
  object-position: center;
}

.u-object-right {
	object-position: right;
}

.u-object-right-top {
  object-position: right top;
}

.u-object-right-bottom {
  object-position: right bottom;
}

.u-object-left {
	object-position: left;
}

.u-object-left-top {
  object-position: top left;
}

.u-object-left-bottom {
  object-position: left bottom;
}
