.u-static {
  position: static;
}

.u-relative {
  position: relative;
}

.u-fixed {
  position: fixed;
}

.u-absolute {
  position: absolute;
}

.u-sticky {
  position: sticky;
}

.u-top {
  top: 0;
}

.u-bottom {
  bottom: 0;
}

.u-right {
  right: 0;
}

.u-left {
  left: 0;
}
