$spacing:(
  'xxsmall': 4px,
  'xsmall': 8px,
  'small': 12px,
  'base': 16px,
  'medium': 24px,
  'large': 32px,
  'xlarge': 48px,
  'none': 0px
);

$sides: (
  'top',
  'right',
  'bottom',
  'left'
);

$areas: (
  'margin',
  'padding'
);
