// Name:            Typography Tokens 
// Description:     Global typography tokens
// ========================================================================

// Font families
// ========================================================================

$system-sans: system-ui, Arial, "Helvetica Neue", Helvetica, sans-serif;
$system-serif: Georgia, Times, "Times New Roman", serif;

$serif-display: "Serif Display";
$serif-text: "Serif Text";
$sans-grotesk: "Sans Grotesk";

$serif-display-stack: $serif-display, $system-serif;
$serif-text-stack: $serif-text, $system-serif;
$sans-grotesk-stack: $sans-grotesk, $system-sans;

// Font families
// ========================================================================

$canon: type-size('canon', base);
$doublepica: type-size('doublepica', base);
$paragon: type-size('paragon', base);
$columbian: type-size('columbian', base); 
$primer: type-size('primer', base); 
$pica: type-size('pica', base); 
$brevier: type-size('brevier', base);