/// Type mixin

@mixin type($type) {
  @if map-has-key($typography, $type) {
    $fetched-type: map-get($typography, $type);

    font-family: map-get($fetched-type, 'family');
    font-weight: map-get($fetched-type, 'weight');
    @include type-size(map-get($fetched-type, 'size'));
    @if map-has-key($fetched-type, 'height'){
      line-height: map-get($fetched-type, 'height');
    }
    @if map-has-key($fetched-type, 'transform') {
      text-transform: map-get($fetched-type, 'transform');
    }
  }
  @else {
    @warn 'Invalid type size: #{$type}.';
  }
};
